html, body {
    background-color: var(--background-color);
    color: var(--textMajor-color);
    font-family: $font-family;
    display: block;
    padding: 0px;
    margin: 0px; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: inherit;
    justify-content: inherit;
    max-width: 1160px;
    width: 100%;
    margin-top: -65px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 25px;
    padding-left: 25px;
}

.container--header {
    display: inherit;
    width: 100%;
    max-width: 1160px;
    justify-content: inherit;
    margin: auto;

}

.container--title {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container--toggle {
    display: flex;
    height: 100%;
    padding-top: 50px;
}

.container--socialNetwork {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.container--cardNumber {
    padding-bottom: 30px;
}


