
.header {
    display: flex;
    background-color: var(--backgroundTop-color);
    padding-bottom: 130px;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
    font-size: $font-sizeTitle;
    width: 100%;
    margin: 0%;
}

.header--title {
    color: var(--textMajor-color);
    font-weight: 800;
    font-size: 30px;
    padding-top: 35px;
    margin-bottom: 5px;
}

.header--subtitle {
    padding: 0%;
    margin: 0%;
    color: var(--textLittle-color);
}
