/* Hide default input */
.toggle input {
    display: none;
  }
/* The container and background */
.toggle {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 21px;
  }


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:var(--toggle-color-state);
  border-radius: 10px;
  transition: all 0.5s;

  &:hover {
    background: var(--toggle-color-stateHover);
  }
  /* The sliding button */
  &:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    right: 100%;
    left: 5%;
    top: 15%;
    background: var(--background-color);
    border-radius: 10px;
    transition: all 0.5s;
  }
}
  
/* On checked
  input:checked + .slider {
  background-color:var(--toggle-color-state);
} */
input:checked + .slider:before {
  transform: translateX(21px);
}