@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700;800&display=swap" rel="stylesheet');
/*Fuentes*/
$font-family: 'Inter', sans-serif;
$font-sizeTitle: 14px;
$font-sizeSubtitle: 10px;

/*Colores primarios*/
$limeGrenn-color: hsl(163, 72%, 41%);
$brightRed-color: hsl(356, 69%, 56%);
$facebook-color: hsl(208, 92%, 53%);
$twitter-color: hsl(203, 89%, 53%);
$instagram-color: linear-gradient(to right, hsl(37, 97%, 70%),hsl(329, 70%, 58%));
$youtube-color: hsl(348, 97%, 39%);

/*Tema 'Dark'*/
html[modo-oscuro='activado'] {
    /**  Toggle  **/
    --toggle-color: hsl(232, 19%, 15%);
    /** Toggle state    **/
    --toggle-color-state: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    /** Toggle state hover **/
    --toggle-color-stateHover:hsl(228, 12%, 44%);
    /**  BackGround  **/
    --background-color: hsl(230, 17%, 14%);
    /**  Top BackGround Pattern  **/
    --backgroundTop-color: hsl(232, 19%, 15%);
    /**  Card BackGround **/
    --cardBackground-color: hsl(228, 28%, 20%);
    /**  Text little   **/
    --textLittle-color: hsl(228, 34%, 66%);
    /**  Text major  **/
    --textMajor-color: hsl(0, 0%, 100%);
    /** Text overview **/
    --textOverview-color:hsl(225, 100%, 98%);
}

/*Tema 'Light'*/
html[modo-oscuro='desactivado'] {
    /**  Toggle  **/
    --toggle-color: hsl(225, 100%, 98%);
     /** Toggle state    **/
     --toggle-color-state: hsl(228, 12%, 44%);
     /** Toggle state hover **/
    --toggle-color-stateHover: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    /**  BackGround  **/
    --background-color: hsl(0, 0%, 100%);
    /**  Top BackGround Pattern  **/
    --backgroundTop-color: hsl(225, 100%, 98%);
    /**  Card BackGround **/
    --cardBackground-color: hsl(227, 47%, 96%);
    /**  Text little   **/
    --textLittle-color: hsl(228, 12%, 44%);
    /**  Text major  **/
    --textMajor-color: hsl(230, 17%, 14%);
    /** Text overview **/
    --textOverview-color:hsl(228, 12%, 44%);
}


/*Responsive*/
$size-mobile: 375px;
$size-desktop: 1440px;

